**/node_modules
**/.env
**/build
**/uploads
**/venv
**/__pycache__
**/*.log
**/firebaseServiceAccount.json
**/.DS_Store
.vscode
**/*.cache
**/*.egg-info
backend/uploads/

# Yarn PnP files (Yarn 2+)
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions
